<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="container" >
    <div class="row">
        <div class="col-lg-12 ">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Skurczowe</th>
                    <th scope="col">Rozkurczowe</th>
                    <th scope="col">Puls</th>
                    <th scope="col">Proszek</th>
                    <th scope="col">Aktywnosc fizyczna</th>
                </tr>
                </thead>
                <tbody th:each="bloodPressureDao : ${List}" >
                <tr>
                    <th th:text="${bloodPressureDao.data}">1</th>
                    <th th:text="${bloodPressureDao.systiolic}">1</th>
                    <th th:text="${bloodPressureDao.diastiloc}">1</th>
                    <th th:text="${bloodPressureDao.pulse}">1</th>
                    <th th:text="${bloodPressureDao.medicine}">1</th>
                    <th th:text="${bloodPressureDao.effort}">1</th>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
